/* */

@font-face {
  font-family: "Arvin-Regular";
  src: url("./fonts/Arvin-Regular.ttf.woff") format("woff"),
    url("./fonts/Arvin-Regular.ttf.svg#Arvin-Regular") format("svg"),
    url("./fonts/Arvin-Regular.ttf.eot"),
    url("./fonts/Arvin-Regular.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
.im-font-arvin {
  font-family: "Arvin-Regular";
}

.im-bg-taupe {
  background: #c9b199;
}

/* Navigation */
.im-nav a {
  color: #eb333f;
}

.im-divider-nav {
  box-shadow: inset 0 -4px 0 #eb333f;
  /* Link hover states */
  & a {
    transition: var(--hover-transition);
  }
  & ul a:hover,
  & ul a:focus {
    box-shadow: inset 0 -4px 0 #fff;
  }
}
